.hidden {
    display: none;
}


body {
    margin: 0;
    padding: 0;  
    position: relative;
}

img {
    width: inherit;
    max-width: 100%;
}


#weather {
    position: absolute;
    right: 0.25%;
    padding: 2px;
    text-align: right;
    font-weight: bold;
    font-size: small;
    color: rgba(255, 255, 255, 0.788);
}

#weather span{
    display: block;
}

#content {
    display: grid;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    padding: 10px;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    text-align: center;
    /* margin-bottom: 5%; */
    padding-bottom: 15px;
}

#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}

#login-form {
    padding-bottom: 5%;
}

#login-form input[type=text] {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    /* padding-right: 10px; */
    box-sizing: content-box;
    border: 2px solid rgba(78, 78, 78, 0.39);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; 
    font-family: 'Outfit', sans-serif;
  }


#login-form input[type=text]:focus {
border: 3px solid rgb(14, 14, 14);
}

#greeting {
    text-transform: uppercase;
    font-family: fantasy;
    font-style: italic;
}


#todo-form input[type=text] {
    margin-left: 10px;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline-start: 10px;
    box-sizing: content-box;
    border: 3px solid rgba(78, 78, 78, 0.39);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Outfit', sans-serif;
}

#todo-form input[type=text]:focus {
    border: 3px solid rgb(14, 14, 14);
  }


#mc-form {
    margin-left: 12%;
}

#mc-form label {
    font-size: 25px;
    font-weight: bold;
    text-align: inherit;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: rgb(255,255,255);
    text-shadow: 2px 2px rgba(114, 113, 113, 0.747);
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    border: 3px solid rgba(255, 253, 253, 0.76);
}

.item2 {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    margin-bottom: 5px;
    border: 3px solid rgba(255, 253, 253, 0.76);
}

.item3 {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    margin-bottom: 5px;
    border: 3px solid rgba(255, 253, 253, 0.76);
}



#todo-list {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(207, 203, 203, 0.493);
    color: rgba(0, 0, 0, 0.781);
    text-align: center;
    top: 50%;
}

#todo-list li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

#todo-list .delete {
    right: 5%;
    padding: 1px 1px;
    background-color: rgba(255, 254, 254, 0);
    border-radius: 8px;
    cursor:pointer;
    border: none;
    position: absolute;
}


#todo-list .add-country {
    right: 15%;
    padding: 1px 1px;
    background-color: rgba(255, 254, 254, 0);
    border-radius: 8px;
    cursor:pointer;
    border: none;
    position: absolute;
}


.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.404);
    text-align: center;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    width: 50px;
    top: 130%;
    left: 60%;
    position: absolute;
    border-radius: 6px;
    z-index: 1;
}

#todo-list button:hover .tooltip {
    visibility: visible;
}

#mc-list button:hover .tooltip {
    visibility: visible;
}

.tooltip:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    margin-left: -5px;
    border-color: transparent transparent rgba(0, 0, 0, 0.404) transparent;
  }

#mc-list {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(207, 203, 203, 0.493);
    color: rgba(0, 0, 0, 0.781);
    text-align: center;
    top: 50%;
}

#mc-list li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mc-list .delete {
    right: 5%;
    padding: 1px 1px;
    background-color: rgba(255, 254, 254, 0);
    border-radius: 8px;
    cursor:pointer;
    border: none;
    position: absolute;
}



button {
    background-color: rgba(255, 255, 255, 0.301);
    border: none;
    color: rgba(0, 0, 0, 0.781);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

button:hover {
    background-color: rgb(20, 20, 20);
    color: white;
}

#quote {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 5%;
    background: rgba(37, 37, 37, 0.3);
    color: rgba(255, 255, 255, 0.589);
}

#quote span {
    display: block;
} 